@model BookARoom_test1.Models.HotelModel

@{
    ViewData["Title"] = "CreateHotel";
}

<h1>CreateHotel</h1>

<h4>HotelModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateHotel" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoomCount" class="control-label"></label>
                <input asp-for="RoomCount" class="form-control" />
                <span asp-validation-for="RoomCount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PreviwImageFile" class="control-label"></label>
                <input type="file" asp-for="PreviwImageFile" class="form-control" />
                <span asp-validation-for="PreviwImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
